@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color: #12507a;
	--background-color: #ffffff;
	--dark-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 4rem;
}

.heading-2 {
	text-align: center;
	font-weight: 400;
	font-size: 2rem;
}

.heading-3 {
	text-align: center;
	font-weight: 450;
	font-size: 3rem;
}

.p-2 {
	text-align: center;
	font-weight: 100;
	font-size: 1.5rem;
}

.p-3 {
	text-align: center;
	font-weight: 150;
	font-size: 2rem;
	margin-right: 80px;
	margin-left: 80px;
}

.p-info-ja{
	text-align: left;
	text-indent: 60px;
	font-weight: 100;
	font-size: 1rem;
}

.p-info-gra{
	text-align: center;
	text-indent: 60px;
	font-weight: 100;
	font-size: 1rem;
}

.p-info-jua{
	text-align: right;
	text-indent: 60px;
	font-weight: 100;
	font-size: 1rem;
}
/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
	background-color: var(--background-color);
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}


.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}



.container-navbar {
	background-color: #d5e6eb;
	position: relative; /* Permite que los elementos absolutos se ubiquen en relación con este contenedor */
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}
/* menu emergente hamburguesa */

.menu li {
	list-style: none;
 }
 .menu {
	display: flex;
	gap: 15px;
}


.menu-icon {
	display: none; /* Oculta el icono en pantallas grandes */
	cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        display: none; /* Oculta el menú por defecto en pantallas pequeñas */
        flex-direction: column;
        background-color: #d5e6eb;
        position: fixed; /* Fijo para cubrir toda la altura */
        top: 0;
        left: 0;
        width: 70%; /* Ocupa el 80% del ancho de la pantalla */
        height: 100vh; /* Ocupa toda la altura de la pantalla */
        padding-top: 60px; /* Espacio para evitar superposición con el icono */
        z-index: 1000; /* Asegura que esté al frente */
        
        box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2); /* Sombra en el borde derecho */
    }

    .menu.open {
        display: flex; /* Muestra el menú cuando está abierto */
    }
    
    .menu li {
        margin: 20px 0; /* Espacio entre los elementos del menú */
        text-align: center;
    }
}

.menu-overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 1000; /* Justo debajo del icono del menú */
}

.menu-overlay.open {
    display: block; /* Muestra el overlay cuando el menú está abierto */
}


/* fin menu hamburesa */

 .whatsapp {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#10bc3b;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	z-index:100;
  }
  
  .whatsapp-icon {
	margin-top:13px;
  }

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #172ad6;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #172ad6;
}


 

/* ********************************** */
/*               BANNER               */
/* ********************************** */
.carousel {
    position: relative;
    overflow: hidden;
    width: 150%;
    max-width: 1000px;
    margin: 0 auto;
}

.carousel-container {
    display: flex;
    width: 100%;
    animation: scroll 20s linear infinite; /* Incrementa la duración para una animación más lenta */
}

.carousel-slide {
    display: flex;
	width: 100%;
}

.carousel-slide img {
    width: 9%; /* Ajusta si deseas que aparezcan más imágenes a la vez */
    height: auto;
    object-fit: contain;
    margin-right: 10px;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* Ajusta para recorrer todo el ancho duplicado */
}


/*imagenes botones de inicio */
.category-residencial {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
    background-image: linear-gradient(#00000080, #00000080), url('img/residencial.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Animación suave */
	cursor: pointer;
}

.category-residencial::before {
    content: ''; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Hereda el fondo del contenedor */
    filter: blur(0); /* Sin desenfoque por defecto */
    transition: filter 0.3s ease-in-out; /* Transición suave en el desenfoque */
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}

.category-residencial:hover::before {
    filter: blur(8px); /* Aplica desenfoque al pasar el mouse */
}

.category-residencial:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un 5% */
}

button {
    background-color: #000; /* Ajusta el estilo del botón según sea necesario */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Transición en el fondo y tamaño */
}

button:hover {
    background-color: #333; /* Cambia el color del fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}

.category-comercial {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
    background-image: linear-gradient(#00000080, #00000080), url('img/comercial.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Animación suave */
	cursor: pointer;
}

.category-comercial::before {
    content: ''; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Hereda el fondo del contenedor */
    filter: blur(0); /* Sin desenfoque por defecto */
    transition: filter 0.3s ease-in-out; /* Transición suave en el desenfoque */
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}

.category-comercial:hover::before {
    filter: blur(8px); /* Aplica desenfoque al pasar el mouse */
}

.category-comercial:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un 5% */
}

button {
    background-color: #000; /* Ajusta el estilo del botón según sea necesario */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Transición en el fondo y tamaño */
}

button:hover {
    background-color: #333; /* Cambia el color del fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}


.category-industrial {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
    background-image: linear-gradient(#00000080, #00000080), url('img/industrial.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Animación suave */
	cursor: pointer;
}

.category-industrial::before {
    content: ''; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Hereda el fondo del contenedor */
    filter: blur(0); /* Sin desenfoque por defecto */
    transition: filter 0.3s ease-in-out; /* Transición suave en el desenfoque */
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}

.category-industrial:hover::before {
    filter: blur(8px); /* Aplica desenfoque al pasar el mouse */
}

.category-industrial:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un 5% */
}

button {
    background-color: #000; /* Ajusta el estilo del botón según sea necesario */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Transición en el fondo y tamaño */
}

button:hover {
    background-color: #333; /* Cambia el color del fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}

/*fin*/
.content-banner {
	max-width: 90rem;
	margin: 0 auto;
	padding: 25rem 0;
}

.banner {
	width: 1000px;
	height: 400px;
	margin: auto;
	/*background-size: cover; */
	animation: banner 15s infinite;
  }
  
  @keyframes banner {
	0%, 50% {
	  background-image: url(img/refrigerante.jpg);
	  opacity: 1;
	}
	59%,
	60% {
	  opacity: 0.5;
	}
	69%,
	70% {
	  background-image: url(img/compresores.jpg);
	  opacity: 1;
	}
	79%,
	80% {
	  opacity: 0.5;
	}
	89%,
	90% {
	  opacity: 1;
	  background-image: url(img/motores.jpg);
	}
	99% ,
	80% {
		opacity: 0.5;
	  }
	100% {
		opacity: 1;
		background-image: url(img/filtros.jpg);
	  }

  }
/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
.main-content {
	background-color: var(--background-color);
}

/* ********************************** */
/*              FEATURES              */
/* ********************************** */
.container-features {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 3rem 0;
}

.card-feature {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;

	background-color: #fff;
	border-radius: 1rem;
	padding: 1.5rem 0;
}

.card-feature i {
	font-size: 2.7rem;
	color: var(--primary-color);
}

.feature-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.feature-content span {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--dark-color);
}

.feature-content p {
	color: #777;
	font-weight: 500;
}

/* ********************************** */
/*             CATEGORIAS             */
/* ********************************** */

.top-categories {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-category {
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}

a {  /*quitar hipervinculo de botones de index */
    text-decoration: none;
}

.category-residencial {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/residencial.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.category-comercial {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/comercial.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.category-industrial {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/industrial.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-category p {
	font-size: 2.5rem;
	color: #fff;
	text-transform: capitalize;
	position: relative;
}

.card-category p::after {
	content: '';
	width: 2.5rem;
	height: 2px;
	background-color: #12507a;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

.card-category span {
	font-size: 1.6rem;
	color: #1f569c;
	cursor: pointer;
}

.card-category span:hover {
	color: #172ad6;
}
 /*imagenes responsivas de servicios */
.image-container {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    
}

/* Estilo para la imagen */
.responsive-img {
    width: 40%;  /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción original de la imagen */
}


/* ********************************** */
/*             PRODUCTS               */
/* ********************************** */

.top-categories-products {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}/* ***************** agregar imagen para presentar categoria y en codigo crear la clase***************** */

.container-categories-products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-category {
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}

.category-productoss {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/soldadura.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.category-equipo-aire-acondicionado {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/equipo-aire-acondicionado.png');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

/* inicio img design*/
.category-equipo-aire-acondicionado {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
    background-image: linear-gradient(#00000080, #00000080), url('img/equipo-aire-acondicionado.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Animación suave */
}

.category-equipo-aire-acondicionado::before {
    content: ''; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Hereda el fondo del contenedor */
    filter: blur(0); /* Sin desenfoque por defecto */
    transition: filter 0.3s ease-in-out; /* Transición suave en el desenfoque */
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}



.category-equipo-aire-acondicionado:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un 5% */
}

button {
    background-color: #000; /* Ajusta el estilo del botón según sea necesario */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Transición en el fondo y tamaño */
}

button:hover {
    background-color: #333; /* Cambia el color del fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}
/*final */

.category-herramienta {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/herramienta.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* inicio img design*/
.category-herramienta {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
    background-image: linear-gradient(#00000080, #00000080), url('img/herramienta.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Animación suave */
}

.category-herramienta::before {
    content: ''; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Hereda el fondo del contenedor */
    filter: blur(0); /* Sin desenfoque por defecto */
    transition: filter 0.3s ease-in-out; /* Transición suave en el desenfoque */
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}



.category-herramienta:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un 5% */
}

button {
    background-color: #000; /* Ajusta el estilo del botón según sea necesario */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Transición en el fondo y tamaño */
}

button:hover {
    background-color: #333; /* Cambia el color del fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}
/*final */

.category-electricidad {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/electricidad.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* inicio img design*/
.category-electricidad {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
    background-image: linear-gradient(#00000080, #00000080), url('img/electricidad.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Animación suave */
}

.category-electricidad::before {
    content: ''; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Hereda el fondo del contenedor */
    filter: blur(0); /* Sin desenfoque por defecto */
    transition: filter 0.3s ease-in-out; /* Transición suave en el desenfoque */
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}



.category-electricidad:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un 5% */
}

button {
    background-color: #000; /* Ajusta el estilo del botón según sea necesario */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Transición en el fondo y tamaño */
}

button:hover {
    background-color: #333; /* Cambia el color del fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}
/*final */


.category-capacitores {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/capacitores.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

/* inicio img design*/
.category-capacitores {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
    background-image: linear-gradient(#00000080, #00000080), url('img/capacitores.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Animación suave */
}

.category-capacitores::before {
    content: ''; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Hereda el fondo del contenedor */
    filter: blur(0); /* Sin desenfoque por defecto */
    transition: filter 0.3s ease-in-out; /* Transición suave en el desenfoque */
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}



.category-capacitores:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un 5% */
}

button {
    background-color: #000; /* Ajusta el estilo del botón según sea necesario */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Transición en el fondo y tamaño */
}

button:hover {
    background-color: #333; /* Cambia el color del fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}
/*final */

.category-contactores {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/contactores.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* inicio img design*/
.category-contactores {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
    background-image: linear-gradient(#00000080, #00000080), url('img/contactores.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Animación suave */
}

.category-contactores::before {
    content: ''; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Hereda el fondo del contenedor */
    filter: blur(0); /* Sin desenfoque por defecto */
    transition: filter 0.3s ease-in-out; /* Transición suave en el desenfoque */
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}



.category-contactores:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un 5% */
}

button {
    background-color: #000; /* Ajusta el estilo del botón según sea necesario */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Transición en el fondo y tamaño */
}

button:hover {
    background-color: #333; /* Cambia el color del fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}
/*final */


.category-relevadores {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/relevadores.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* inicio img design*/
.category-relevadores {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
    background-image: linear-gradient(#00000080, #00000080), url('img/relevadores.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Animación suave */
}

.category-relevadores::before {
    content: ''; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Hereda el fondo del contenedor */
    filter: blur(0); /* Sin desenfoque por defecto */
    transition: filter 0.3s ease-in-out; /* Transición suave en el desenfoque */
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}

.category-relevadores:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un 5% */
}

button {
    background-color: #000; /* Ajusta el estilo del botón según sea necesario */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Transición en el fondo y tamaño */
}

button:hover {
    background-color: #333; /* Cambia el color del fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}
/*final */


.category-cobre {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/cobre.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

/* inicio img design*/
.category-cobre {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
    background-image: linear-gradient(#00000080, #00000080), url('img/cobre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Animación suave */
}

.category-cobre::before {
    content: ''; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Hereda el fondo del contenedor */
    filter: blur(0); /* Sin desenfoque por defecto */
    transition: filter 0.3s ease-in-out; /* Transición suave en el desenfoque */
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}

.category-cobre:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un 5% */
}

button {
    background-color: #000; /* Ajusta el estilo del botón según sea necesario */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Transición en el fondo y tamaño */
}

button:hover {
    background-color: #333; /* Cambia el color del fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}
/*final */

.category-limpiadores {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/limpiadores.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* inicio img design*/
.category-limpiadores {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
    background-image: linear-gradient(#00000080, #00000080), url('img/limpiadores.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Animación suave */
}

.category-limpiadores::before {
    content: ''; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Hereda el fondo del contenedor */
    filter: blur(0); /* Sin desenfoque por defecto */
    transition: filter 0.3s ease-in-out; /* Transición suave en el desenfoque */
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}

.category-limpiadores:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un 5% */
}

button {
    background-color: #000; /* Ajusta el estilo del botón según sea necesario */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Transición en el fondo y tamaño */
}

button:hover {
    background-color: #333; /* Cambia el color del fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}
/*final */

.category-soldadura {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/soldadura.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* inicio img design*/
.category-soldadura {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
    background-image: linear-gradient(#00000080, #00000080), url('img/soldadura.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Animación suave */
}

.category-soldadura::before {
    content: ''; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Hereda el fondo del contenedor */
    filter: blur(0); /* Sin desenfoque por defecto */
    transition: filter 0.3s ease-in-out; /* Transición suave en el desenfoque */
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}

.category-soldadura:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un 5% */
}

button {
    background-color: #000; /* Ajusta el estilo del botón según sea necesario */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Transición en el fondo y tamaño */
}

button:hover {
    background-color: #333; /* Cambia el color del fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}
/*final */

.card-category p {
	font-size: 2.5rem;
	color: #fff;
	text-transform: capitalize;
	position: relative;
}

.card-category p::after {
	content: '';
	width: 2.5rem;
	height: 2px;
	background-color: #12507a;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

.card-category span {
	font-size: 1.6rem;
	color: #1f569c;
	cursor: pointer;
}

.card-category span:hover {
	color: #172ad6;
}

/* ***************** tarjetas de sucursales***************** */

.top-categories-suc {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-category {
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}

.category-jarachina {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/jarachina.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

/* inicio img */
.category-jarachina {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
    background-image: linear-gradient(#00000080, #00000080), url('img/jarachina.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Animación suave */
}

.category-jarachina::before {
    content: ''; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Hereda el fondo del contenedor */
    filter: blur(0); /* Sin desenfoque por defecto */
    transition: filter 0.3s ease-in-out; /* Transición suave en el desenfoque */
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}

.category-jarachina:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un 5% */
}

button {
    background-color: #000; /* Ajusta el estilo del botón según sea necesario */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Transición en el fondo y tamaño */
}

button:hover {
    background-color: #333; /* Cambia el color del fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}
/*final */

.category-granjas {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/granjas.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* inicio img granjas */
.category-granjas {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
    background-image: linear-gradient(#00000080, #00000080), url('img/granjas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Animación suave */
}

.category-granjas::before {
    content: ''; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Hereda el fondo del contenedor */
    filter: blur(0); /* Sin desenfoque por defecto */
    transition: filter 0.3s ease-in-out; /* Transición suave en el desenfoque */
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}

.category-granjas:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un 5% */
}

button {
    background-color: #000; /* Ajusta el estilo del botón según sea necesario */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Transición en el fondo y tamaño */
}

button:hover {
    background-color: #333; /* Cambia el color del fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}
/*final */

.category-juarez {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/juarez.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* inicio img juarez */
.category-juarez {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
    background-image: linear-gradient(#00000080, #00000080), url('img/juarez.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Animación suave */
}

.category-juarez::before {
    content: ''; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Hereda el fondo del contenedor */
    filter: blur(0); /* Sin desenfoque por defecto */
    transition: filter 0.3s ease-in-out; /* Transición suave en el desenfoque */
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}

.category-juarez:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un 5% */
}

button {
    background-color: #000; /* Ajusta el estilo del botón según sea necesario */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out; /* Transición en el fondo y tamaño */
}

button:hover {
    background-color: #333; /* Cambia el color del fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón al pasar el mouse */
}
/*final */

.card-category p {
	font-size: 2.5rem;
	color: #fff;
	text-transform: capitalize;
	position: relative;
}

.card-category p::after {
	content: '';
	width: 2.5rem;
	height: 2px;
	background-color: #12507a;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

.card-category span {
	font-size: 1.6rem;
	color: #1f569c;
	cursor: pointer;
}

.card-category span:hover {
	color: #172ad6;
}

/* ***************** maps***************** */

.container-maps{
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-google-maps {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.category-maps-jarachina {
	background-image: linear-gradient(#00000080, #00000080);
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.category-maps-granjas {
	background-image: linear-gradient(#00000080, #00000080);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/* ********************************** */
/*            TOP PRODUCTS            */
/* ********************************** */
.top-products {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.container-options span {
	color: #777;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
}

.container-options span:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.container-options span.active {
	background-color: var(--primary-color);
	color: #fff;
}




/* ********************************** */
/*               GALLERY              */
/* ********************************** */
.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 30rem);
	gap: 1.5rem;
	margin-bottom: 3rem;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-img-3 {
	grid-column: 2/4;
	grid-row: 1/3;
}

/* ********************************** */
/*              SPECIALS              */
/* ********************************** */
.specials {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

/* ********************************** */
/*               FOOTER               */
/* ********************************** */

.footer {
	background-color: var(--primary-color);
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--dark-color);
}

.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}


/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.hero {
		padding: 2rem;
	}

	.customer-support {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #ffffff;
		font-size: 3rem;
	}

	.menu {
		display: none;
	}

	.content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 2rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
	}

	.card-category p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
		font-size: 1.4rem;
	}

	.container-options {
		align-items: center;
	}

	.container-options span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(2, 15rem);
	}

	.container-blogs {
		overflow: hidden;
		grid-template-columns: 1fr 1fr;

		height: 52rem;
	}

	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}


}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 468px) {
	html {
		font-size: 42.5%;
	}

	.content-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.heading-1 {
		font-size: 2.8rem;
	}

	.card-feature {
		flex-direction: column;
		border-radius: 2rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		font-size: 1.4rem;
		text-align: center;
	}

	.feature-content span {
		font-size: 1.6rem;
		text-align: center;
	}

	.container-options span {
		font-size: 1.8rem;
		padding: 1rem 1.5rem;
		font-weight: 500;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}

	.container-img .discount {
		font-size: 2rem;
	}

	.content-card-product h3 {
		font-size: 2.2rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
		height: 75rem;
	}

	.content-blog h3 {
		font-size: 2.4rem;
	}

	.content-blog span {
		font-size: 1.8rem;
	}

	.content-blog p {
		font-size: 2.2rem;
	}

	.btn-read-more{
		font-size: 1.8rem;
	}

	.contact-info ul,
	.information ul,
	.my-account ul{
		display: none;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	.content p{
		font-size: 1.6rem;
	}
}